@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>There is no privacy. We sold your data to the Russians, Chinese, Americans and even to your parents. </p>
<p>Everyone knows your sick fetishes now you bastard!</p>
